<!DOCTYPE html>
<html lang="en">

<head>
    <title>Waste Reduction and Recycling Tracker</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <header>
        <h1>Waste Tracker</h1>
    </header>

    <button onclick="redirectToLogin()">Login</button>
    <button onclick="redirectToRegister()">Register</button>
    <button onclick="redirectToWaste()">Waste Tracker</button>

    <footer>
        <p>&copy; 2023 Waste Tracker</p>
    </footer>
    <script src="script.js"></script>
</body>

</html>