<!DOCTYPE html>
<html>

<head>
    <title>User Login</title>
</head>

<h1>User Login</h1>

<body>
    

    <!-- Display success flash message if available -->
    <% if (success && success.length > 0) { %>
        <div class="alert alert-success">
            <%= success[0] %>
        </div>
    <% } %>

    <!-- Display error flash message if available -->
    <% if (error && error.length > 0) { %>
        <div class="alert alert-danger">
            <%= error[0] %>
        </div>
    <% } %>

    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/register">Register here</a></p>
</body>

</html>